/Library/
/Temp/
/Obj/
/Logs/
/UserSettings/
/Builds/
/Reports/
/Assets/PixelTraffic/Generated/
/Assets/PixelTraffic/Generated.meta
/Assets/PixelTraffic/Scenes/
/Assets/PixelTraffic/Scenes.meta
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/QualitySettings.asset
/ProjectSettings/EditorBuildSettings.asset
*.csproj
*.sln
*.slnx
*.keystore
*.jks
